---
layout: default
---

<section id="home" class="intro-section">
    <div class="container">
        <div class="row align-items-center text-white">
            <div class="col-md-6 intros text-start">
                <h1 class="display-2">
                    <span class="display-2--intro">Air Quality: Science for Solutions 6</span>
                    <span class="display-2--description lh-base">
                        {{ site.data.conference.date }} — {{ site.data.conference.location }}
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1"
            d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,133.3C672,139,768,213,864,202.7C960,192,1056,96,1152,74.7C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 services mt-4">
                <div class="">
                    <h3 class="display-3--title mt-1">Overview</h3>
                    <p class="lh-lg">
                        {{ site.data.conference.description }}
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 services mt-4 text-end callout">
                <div class="">
                    <h3 class="display-3--title mt-1">Important Dates</h3>
                    <p class="lh-lg">
                        {% for item in site.data.conference.important_dates %}
                        {{ item.text }}: <b>{{ item.date }}</b><br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 services mt-4">
                <div class="">
                    <h3 class="display-3--title mt-1">Latest News</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <ul>
                    {% for news in site.data.conference.news %}
                    <li><b>[{{ news.date }}]</b> {{ news.text }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 services mt-4">
                <div class="">
                    <h3 class="display-3--title mt-1">Our Supporters</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for supporter in site.data.conference.supporters %}
            <div class="col-md-6 col-lg-4">
                <div class="campanies__logo-box shadow-sm">
                    <a href="{{ supporter.link }}"><img src="{% link {{ supporter.image }} %}"
                            alt="{{ supporter.name }} Logo" title="{{ supporter.link }} Logo" class="img-fluid"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</section>
